.auth__wrap {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.auth__logo {
  font-size: 24px;
  font-family: 'Black Han Sans', sans-serif;
  margin-bottom: 50px;
}
.auth__logo i {
  color: #d49466;
  padding: 8px;
}
.auth__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  color: black;
}

.auth__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.auth__form input {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
  border: 2px solid #aaa;
}

.auth__form input[type='email']:focus,
.auth__form input[type='password']:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
.auth__form input::placeholder {
  padding: 8px;
}

.auth__form input[type='submit'] {
  background-color: #07a0fd;
  color: white;
  border: none;
}

.auth__submit button {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
}

.auth__wrap .google {
  width: 50%;
  height: 40px;
  background-color: #ddd;
  color: black;
  border: none;
  border-radius: 10px;
  margin-top: 40px;
  font-weight: bold;
}
.fa-google {
  padding: 8px;
}
.auth__form input[type='submit'],
.auth__wrap button:hover {
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .auth__submit {
    width: 35%;
  }
  .auth__wrap .google {
    width: 35%;
  }
}
