.mapWrap {
  width: 100%;
  height: 100vh;
  position: absolute;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
}
.pro-sidebar > .pro-sidebar-inner {
  background-color: #fff;
}
.mapWrap .pro-sidebar {
  width: 30%;
  height: 100vh;
  z-index: 9999;
  position: absolute;
}
.mapWrap .closemenu {
  color: #000;
  position: absolute;
  right: 10%;
  z-index: 9999;
  line-height: 20px;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  top: 50%;
  width: 20px;
  height: 25px;
  text-align: center;
  background-color: white;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
}
.pro-sidebar-header {
  height: 10vh;
  text-align: center;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
  border-bottom: 1px solid black;
}
.logotext p {
  font-size: 16px;
}
.mapWrap .pro-sidebar-content {
  height: 90vh;
}
.mapWrap .pro-sidebar.collapsed {
  width: 20px;
  min-width: 20px;
}
.mapWrap .pro-sidebar-inner {
  background-color: white;
  box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}
.mapWrap .pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
}
.mapWrap .pro-sidebar-inner .pro-sidebar-layout {
  font-size: 12px;
  padding: 0 20px;
  color: #000;
  font-weight: bold;
}
.mapWrap .pro-sidebar-inner .pro-sidebar-layout ul {
  padding: 0 5px;
}
.mapWrap .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: #000;
  margin: 10px 0px;
  font-weight: bold;
}
.mapWrap .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
  background-color: #fbf4cd;
  color: #000;
  border-radius: 3px;
}
.mapWrap .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
  color: #000;
}
.pro-sidebar-content {
  overflow: auto;
}
.dataWrap {
  display: flex;
  justify-content: flex-start;
  margin: 20px 20px 0px 0px;
  line-height: 25px;
  font-size: 15px;
  border-bottom: 1px solid black;
  width: 100%;
}
.roomdata {
  width: 60%;
}
.roomphoto {
  cursor: pointer;
}
#myMap {
  height: 100vh;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .mapWrap .pro-sidebar {
    width: 35%;
  }
  .mapWrap .pro-sidebar-inner .pro-sidebar-layout .logotext p {
    font-size: 10px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .mapWrap .pro-sidebar {
    width: 50%;
  }
  .dataWrap {
    font-size: 10px;
    flex-direction: column;
    justify-content: center;
  }
  .roomdata {
    width: 100%;
  }
  .roomphoto img {
    margin-top: 20px;
    width: 70px;
    height: 70px;
  }
}
